# --- Core Data Science ---
numpy==1.26.4
pandas==2.2.2
scipy>=1.14.1
scikit-learn==1.4.2
statsmodels==0.14.2
shapely
joblib
python-dotenv
pymysql

# --- Imaging & Computer Vision ---
opencv-contrib-python==4.9.0.80
Pillow>=10.4.0
scikit-image==0.23.2
imageio==2.34.1
tifffile>=2024.5.22
zarr==2.16.1
rasterio==1.4.3
imagecodecs>=2024.1.0
openslide-python
tiatoolbox
albumentations

# --- Deep Learning Utilities ---
segmentation_models_pytorch==0.3.1
torch-lr-finder
torchinfo
torchmetrics
optuna
h5py
aim
schedulefree
pyngrok
pyyaml
tqdm==4.66.4